<div class="jumbotron ">
    <div class="container">
        <h1 class="cover-heading">Welcome to Find-A-Lens</h1>

        <h3>If you are looking for your next camera lens, you've come to the right place.</h3>

        <span class="material-icons" id="info" ng-click="toggle = !toggle">play_for_work</span>

        <div ng-show="toggle">
            <p class="lead">Start off by choosing your camera manufacturer. The next page will ask you to choose the type of photography you are interested in. You will then find a list of the top six lenses designed for that
                specific use.</p>
        </div>
    </div> <!-- end container -->
</div>

<div id="home-content">
    <div class="col-xs-6 camera-model" id="canon">
        <h1><a href="/canon" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Canon</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="nikon">
        <h1><a href="/nikon" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Nikon</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="sony">
        <h1><a href="#" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Sony</a></h1>
    </div>

    <div class="col-xs-6 camera-model" id="olympus">
        <h1><a href="#" class="cameraLogo col-md-12 col-sm-6 col-xs-6">Olympus</a></h1>
    </div>
</div>

<div class="container">
    
    <!-- search full lens list section -->
<!--
    <span class="glyphicon glyphicon-plus-sign pull-right" id="info" ng-click="search = !search">Search</span>
    <div class="" ng-show="search">
        <div class="row">
            <input type="search" name="search" placeholder="Search Lenses" class="col-md-12 col-xs-12 home-input" ng-model="query" >
            {{ canonLenses.model }}
        </div>

        <div class="lens-list">

            <div class="col-sm-6 col-md-4 ind-lens repeat-animation" ng-repeat="canonLens in canonLenses | filter:query">
                <div class="thumbnail">
                    <a href="#/lens/{{ canonLens.id }}"><img ng-src="{{ canonLens.images[1] }}" class="img-responsive" alt="..."></a>
                    <div class="caption">
                        <h3>{{ canonLens.model }}</h3>
                        <p>{{ canonLens.description }}</p>
                        <p>{{ canonLens.price | currency }}</p>
                        <p>{{ canonLens.bestUse }}</p>
                        <span class="badge pull-left">{{ canonLens.rank }}</span>
                        <a href="#/lens/{{ canonLens.id }}" class="btn btn-info" role="button">Information</a>
                        <a href="{{ canonLens.amazonLink }}" class="btn btn-success" role="button" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 ind-lens repeat-animation" ng-repeat="nikonLens in nikonLenses | filter:query">
                <div class="thumbnail">
                    <a href="#/lens/{{ nikonLens.id }}"><img ng-src="{{ nikonLens.images[0] }}" class="img-responsive" alt="..."></a>
                    <div class="caption">
                        <h3>{{ nikonLens.model }}</h3>
                        <p>{{ nikonLens.description }}</p>
                        <p>{{ nikonLens.price | currency }}</p>
                        <p>{{ nikonLens.bestUse }}</p>
                        <span class="badge pull-left">{{ nikonLens.rank }}</span>
                        <a href="#/lens/{{ nikonLens.id }}" class="btn btn-info" role="button">Information</a>
                        <a href="{{ nikonLens.amazonLink }}" class="btn btn-success" role="button" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>

        </div>  end lens-list 
    </div>
-->
    
</div> <!-- end container -->
